*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  color: white;
}

.container{
  padding:20px;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin-top:20px;
  margin-bottom: 70px;
}

.Cards{
  display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      padding: 20px;
      max-width: 500px;
      margin: 0 auto;

}

  .frontCard{
    background-color: #2c3e50;
          width: 100px;
          height: 100px;
          border-radius: 8px;
          cursor: pointer;
  }

  .backCard{
    width: 100px;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  img{
     width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 8px;
  }


  .score-info{
    padding: 10px;
    margin:10px;
  }